.wrap {
  border-right: 0;
}
.member {
  padding: 10px;
  height: 100px;
  text-align: center;
  position: relative;
}

.center {
  text-align: center;
  height: 60px;
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
}
