.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #007aff;
  font-size: "18px";
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.timeLine {
  z-index: 5 !important;
}
.trendsArea {
  position: absolute;
  z-index: 4;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trendsArea > div {
  white-space: pre;
  transform-origin: top left;
  background-color: transparent;
  color: #fff;
  width: 150px;
  height: 23px;
}
