.file {
  display: none;
}
.pickerPicWrap {
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  label {
    background: #ccc;
    border: 6px solid #fff;
    border-radius: 10px;
    width: 150px;
    box-shadow: 3px 5px 6px #ccc;
    height: 150px;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }
}
.mySwipper {
  width: 100% !important;
  padding: 60px 0 40px !important;
}
.imgWrap {
  background-color: #e4e4e4;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: auto !important;
  height: 300px !important;
  user-select: none;
}

.imgWrap img {
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  object-fit: contain;
  pointer-events: none;
  -webkit-touch-callout: none;
  border: 1px solid #ccc;
  padding: 6px;
  background-color: transparent;
  border-radius: 5px;
}
.removeIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
}
.sortWrap {
  box-sizing: border-box;
  margin: 60px 0 40px !important;

  height: 300px;
  align-items: center;

  -webkit-overflow-scrolling: touch;
}
.sortPicture {
  flex: 0 0 0;
  width: 300px;
  height: 300px;
  object-fit: contain;
  background-color: #e4e4e4;
  user-select: none;
  margin-right: 16px;
  touch-action: none;
  -webkit-touch-callout: none;
  transition-duration: 0.3s;
}
.warn {
  font-size: 12px;
  margin: 10px;
  text-align: right;
}
.warnSort {
  font-size: 14px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.pickInfo {
  margin: 10px 0 5px 0;
  color: #fff;
  display: flex;
  justify-content: right;
  overflow: hidden;
}
.pickInfo > .info {
  font-size: 12px;
  padding: 2px 10px;
  background-color: #1976d2;
  width: 250px;
  margin-right: -10px;
  text-align: center;
}
