.file {
  display: none;
}
.mySwipper {
  width: 100% !important;
}
.imgWrap {
  background-color: #e4e4e4;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: auto !important;
  height: 270px !important;
  user-select: none;
}

.imgWrap img {
  display: block;
  width: 270px;
  height: 270px;
  position: relative;
  object-fit: contain;
  pointer-events: none;
  -webkit-touch-callout: none;
}
.removeIcon {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.sortWrap {
  /* background: #fff; */
  display: flex;
  padding: 8px;
  overflow: auto;
  height: 300px;
  align-items: center;
  background-color: #fff;
}
.sortPicture {
  flex: 0 0 0;
  width: 270px;
  height: 270px;
  object-fit: contain;
  background-color: #e4e4e4;
  user-select: none;
  margin-right: 16px;
  touch-action: none;
}
.warn {
  font-size: 14px;
  margin: 10px;
  float: right;
}
.warnSort {
  font-size: 14px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.pickInfo {
  margin: 10px 0 5px 0;
  color: #fff;
  display: flex;
  justify-content: right;
  overflow: hidden;
}
.pickInfo > .info {
  font-size: 14px;
  padding: 10px 10px;
  background-color: #1976d2;
  width: 250px;
  margin-right: -10px;
  transform: skewX(-10deg);
  text-align: center;
}
