.textarea {
  padding: 10px;
  border-radius: 10px;
  border-color: #d1d1d1;
  outline-color: #d1d1d1;
}

.memo {
  font-size: 12px;
}
.wrap * {
  font-size: 14px;
}
.field {
  * {
    font-size: 12px;
  }
  .title {
    font-size: 14px;
    margin: 10px 0;
  }
}

.select {
  padding: 5px 18px 5px 5px;
  border-radius: 5px;
  border-color: #d1d1d1;
  outline-color: #d1d1d1;
}
