.box {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.history {
  flex: 1 1 0;
  overflow: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.disconnectNetwork {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #ea2f2fa6;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.inputMessage {
  width: 100%;
  flex: 0 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.replyWrap {
  display: flex;
  align-items: center;
}
.replyContent {
  padding: 10px;
  word-break: break-all;
  background-color: #f8f6f6;
  border-left: 1px solid #ccc;
  margin: 10px 10px 0 0;
  position: relative;
  font-size: 12px;
  width: 100%;
}
.replyMark {
  font-size: 14px;
  transform: rotate(180deg);
  margin: 0 5px 5px 0;
}
.close {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 18px;
  background-color: #fff;
  border-radius: 50%;
}
.preloadEmoji {
  position: absolute;
  z-index: -1;
}
