.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}
.history {
  flex: 1 1 100%;
  overflow: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column-reverse;
}
.inputMessage {
  flex: 0 0 auto;
}
