.box {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.history {
  flex: 1 1 0;
  overflow: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column-reverse;
}
.inputMessage {
  width: 100%;
  flex: 0 0;
  background-color: #fff;
  padding: 0 10px;
}
