.recordingWrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.recordingWrap > img {
  width: 200px;
}
.desc {
  margin-bottom: 20px;
}
