.subheader * {
  font-size: 11px;
}

.noFriend {
  margin: 40px auto;

  font-size: 28px;
  text-align: center;
  color: #757575;
}
.friendEnd {
  margin: 31px auto;
  text-align: center;
  color: #858585;
}
