.center {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.center .limitWidth {
  flex: 1 1 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qrcodeWrap {
  text-align: center;
  margin: 5px 0;
}
.currency {
  font-size: 16px;
  text-transform: uppercase;
}
.expireTime {
  background-color: #424242;
  display: inline-block;
  padding: 2px 8px;
  font-weight: 900;
  color: #fff;
  border-radius: 5px;
}
.header {
  display: flex;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.header .title {
  font-size: 18px;
  font-weight: 700;
}
.body {
  padding: 0 20px;
  margin-bottom: 20px;
}
.protocolError {
  display: flex;
  justify-content: center;
  margin: 32px;
  color: #dc4040;
}
.minmaxAmount {
  color: #dc4040;
}
.paymentDetail {
  margin-top: 32px;
  margin: 32px 5px 0 5px;
  border: 1px solid #cccccc;
  padding: 16px;
  border-radius: 5px;
}
.payInfo.mark {
  position: relative;
  overflow: hidden;
  filter: blur(2px);
}
.payInfo.mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #424242ed;
}
.cancelWrap {
  position: absolute;
  z-index: 22;
  top: 137px;
  left: 50%;
  transform: translateX(-50%);
}
.cancelWrap.noSelectProtocols {
  position: relative;
  top: 20px;
  text-align: center;
  width: 100;
}
