.overviewWrap {
  background: #fff;
  overflow: auto;
  white-space: nowrap;
  width: 100vw;
  border-bottom: 1px solid #e3e2e2;
}
.overviewWrap > div {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 0;
}
