.stage {
  background: url(./../../public/stage.png) center bottom / contain no-repeat;
  height: 295px;
}
.winner {
  display: flex;
  justify-content: space-around;
}

.winner .player {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: visible;
  border: 6px solid #fff;
  img {
    border-radius: 50%;
  }
}
.second {
  transform: translateY(80px);
}
.third {
  transform: translateY(160px);
}
.first::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: -40px;
  width: 70px;
  height: 70px;
  background: url(./../../public/first.png) center / cover no-repeat;
  transform-origin: center;
  animation: cupAni 1s 0.6s ease-in-out alternate infinite;
}
.second::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: -40px;
  width: 65px;
  height: 65px;
  background: url(./../../public/second.png) center / cover no-repeat;
  animation: cupAni 1s 1s ease-in-out alternate infinite;
}
.third::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: -40px;
  width: 60px;
  height: 60px;
  background: url(./../../public/third.png) center / cover no-repeat;
  animation: cupAni 1s 1.4s ease-in-out alternate infinite;
}
@keyframes cupAni {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(20deg);
  }
}
.otherRank {
  margin: 10px;
  padding: 5px 0;
  background: #fff9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.picSelf {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://picsum.photos/id/237/200/300);
  border-radius: 50%;
  border: 2px solid #fff;
}

.rankWrap {
  background: url(./../../public/666.png) center top / cover no-repeat;
}
