.textCenter {
  text-align: center;
  margin-top: 10px;
}
.AddFriendWait {
  font-size: 11px;
  padding: 2px 5px;
  background-color: #57b657;
  border-radius: 5px;
  color: #fff;
}
.replyAction {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
