.box {
  background-color: #eff0ef;
  flex: 1;
  padding: 10px;
  display: flex;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.pageIcon {
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}
.field {
  padding-top: 60px;
  background-color: #fff;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.field h4 {
  font-size: 20px;
  text-align: center;
}
.extraAction {
  margin-top: 10px;
  margin-left: auto;
  padding-right: 10px;
  color: #1976d2;
  text-decoration: underline;
  display: block;
  text-align: right;
}
.actions {
  margin-top: 15px;
}
.captcha {
  margin: 10px auto;
  clear: both;
  display: block;
}
