.tip {
  font-size: 12px;
}
.draft {
  color: #007aff;

  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.wrap {
  background: url(./../../../public/bg.png) repeat;
  overflow: auto;
  height: 100%;
}
