.bg {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #eff0ef;
  overflow: auto;
}

.field {
  background-color: #fff;
  padding: 16px;
  padding-top: 60px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.field h4 {
  font-size: 20px;
  text-align: center;
}
.extraAction {
  margin-top: 10px;
  margin-left: auto;
  padding-right: 10px;
  color: #1976d2;
  text-decoration: underline;
  float: right;
}
.captcha {
  margin: 10px auto 0;
  clear: both;
  display: block;
}
.pageIcon {
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}
.actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.warn {
  display: flex;
  align-items: center;
  color: brown;
  margin-top: 3px;
}
