.content {
  flex: 1;
}
.unread {
  align-self: center;
  width: auto;
  min-width: 25px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}
