.content {
  flex: 1;
}
.unread {
  align-self: center;
  width: auto;
  min-width: 25px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}
.lastMessage {
  word-break: break-all;
  overflow: hidden;
  max-height: 120px;
}
.noFriend {
  margin: 40px auto;
  font-size: 28px;
  text-align: center;
  color: #757575;
}
